<% provide(:title, "Chapter 2: Daniel Only Cries At Night") %>
<% @user= current_user %>
<h1 class="gold2">Chapter 2</h1>
<h1 class="gold2">Daniel Only Cries At Night</h1>
<div class="top-spacer-chapter-intro"></div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
      <p>
<span class="purple_intro">T</span>his would be the second time that
Fawn would catch Daniel Kraken crying. He cried only at night, and only when he was poring over bad balance sheets. He wept huge, mucosal, bright green phosphorescent tears that you could see almost push his eyeballs up into their socket as the oozed out and over his hollow cheeks.
      </p>
<p>
  “Hypersea,” said Daniel, swirling a tumbler of the deep blue liquid in his right hand. “A resounding failure.” He sniffed and dabbed at his eyes with a canvas handkerchief in his left hand. Fawn focused on Daniel Kraken’s starched, precisely pinned collar, which peeked over his soot black smoking jacket.
  His pin? A grinning silver pig with bejeweled hooves.
</p>
<p>
“It’s still turning a profit,” said Fawn as she walked across Daniel’s study. In fact, Daniel Kraken had never lost money when he debuted a new ale or liquor. But Daniel always wept over his ledger—it would never be enough for him, and a modest profit to him was a compete defeat.
</p>
<p>
“It’s not about the money this time Fawn,” said Daniel. “This is about giving you the will to sail all over the world.” Every product line that Daniel Kraken had introduced since he had arrived on the island was meant to inoculate the populace against behavior or superstition that Daniel felt was hindering the advancement of civilization.
</p>
<p>
His first ale, Regicide, had turned the tide of public sentiment against the monarchy that had ruled every aspect of the citizenry’s life since recorded history. For a blood soaked decade after its introduction there had been riots in the streets as the besieged monarchy waged war on its own people, until Daniel Kraken himself had drawn up the charter for a new government. A cask of Regicide was still ceremonially guillotined open at the beginning of every parliamentary session.
</p>
<p>
His first liquor, Hard Martyr, had helped to wean addicts off of the soporific excretions of the now banned Oberon Lotus. For generations the lotus had enslaved the sensations of half the island’s population, and Fawn’s mother had been one of them. After Buck’s death she had been inconsolable, and had turned to smoking crushed Oberon every day. She had left a swaddled Fawn in one of Daniel Kraken’s many foundling wheels that had been dotted across the capital—most of the teeth had rotted out of her mouth by then, and Doe Bobapple’s emaciated neck was shaking with the effort of keeping even the newborn Fawn aloft long enough to drop her into the wheel.
</p>
<p>
But Hypersea was barely breaking even, and Daniel Kraken’s ego was in tatters.
</p>
<p>
“Your people will always fear the sea,” said Daniel. He motioned towards the corner of his study. There were no lights on in the room—Daniel detested the expense of candles and lanterns. The only light Fawn could see by was her own moon—a small, pale circle that had embarrassed her since she had declared it.
</p>
<p>
“Hello Fawn,” said a crisp gurgle from across Daniel Kraken’s extravagantly appointed study. Fawn turned to see her personal moon glisten across the condensation beading on Merlot Bot’s glass barrel chest. This was an exceedingly intimate interaction between them. Wearing shiny jewelry at night was taboo in a business setting—to see your own personal moonlight reflected back at night from a naked body was almost disorientingly erotic, and to see it come back to you, unbidden, from the torso of a ruthlessly enigmatic red wine automaton, was, to say the least, off-putting.
</p>
<p>
“Hello MB,” nodded Fawn. Merlot Bot’s eyes, which had, up until now, been dark and dormant in the front of the brass dome that was his head, glowed with an appropriately burgundy word:
</p>
<p>
  <div class="top-spacer-chapter-intro">
  </div>
<span class="bot_led">CHARMED</span>
<div class="top-spacer-chapter-intro">
</div>
</p>
<p>
Merlot Bot was the last of the red wine automatons that had landed with Daniel Kraken on the shores of Hypersea. He stood a full 6’5 inches tall, his thick glass torso framed by brass arms and legs, and topped with a brass helmet for a head. His mouth was a brass speaker, from which boomed a voice somehow both deep and tinny, his eyes two electric red coals glowing in between his periodic LCD sentiments. His torso gurgled with his daily vintage, which filled his insides at the dawn of every day, and was periodically poured from the spigot that sparkled where his bellybutton would be were he human, and not, as he appeared to be, an artificially intelligent robot animated by a technological, magical, or some other eccentrically thaumaturgic means known only to Daniel Kraken.
</p>
<p>
Merlot Bot plucked a crystal, brass rimmed gauntlet in his right claw and brought it up to his belly, and used his left hand to squeak his spigot open and decant the day’s last dram of gut wine into the moonlit glass. He offered it to Fawn, his eyes fading and replaced with a question:
</p>
<p>
  <div class="top-spacer-chapter-intro">
  </div>
<span class="bot_led">A DRINK?</span>
<div class="top-spacer-chapter-intro">
</div></p>
<p>
Merlot Bot knew that Fawn didn’t drink—she was ashamed about how her mother behaved on Hard Martyr, but to refuse what could be the last glass of robotic red of the day, to turn up one’s nose at what was technically the longest aged wine possible from the sole surviving red wine robot on the planet was an almost unthinkable faux pas. <%= @user.characterfirstname %> <%= @user.characterlastname %>, who had been biding time in the corner of the study, almost unseen, reached in to swipe the glass from in front of Fawn and downed it in a single gulp.
</p>
<p>
“I’m sorry, Fawn,” said <%= @user.characterfirstname %>. “I’ve never had one before. A last dram. I couldn’t resist.”
</p>
<p>
  <div class="top-spacer-chapter-intro">
  </div>
<span class="bot_led">OUTRAGE</span>
<div class="top-spacer-chapter-intro">
</div>
</p>
<p>
Glowed Merlot Bot’s helmet as he rose to his full height, the brass dome nicking the whale ribs that served as the ceiling beams of Daniel Kraken’s study. Dust fell down from the chandelier and onto Daniel’s balance sheet.
</p>
<p>
“To be losing money,” said Daniel, softly, almost under his breath. Merlot Bot immediately stood stock still, as if he had been a sculpture winched into Daniel’s study just this morning. Fawn bowed her head.
</p>
<p>
“To be losing money and then to have—this dust settle on top of the balance sheet, so that I have to roll up my cuffs, dirty my hands, and brush it away from figures I’m already upset over, because the people in my employ, who I’m paying money to, are about to come to blows over the only source of intoxicant that I am not trying to profit from, is an exquisitely infuriating cocktail that you’re forcing me to choke down right now.”
</p>
<p>
  <div class="top-spacer-chapter-intro">
  </div>
<span class="bot_led">SORRY</span>
<div class="top-spacer-chapter-intro">
</div>
</p>
<p>
Glowed Merlot bot.
</p>
<p>
“Sorry,” said Fawn, airily fluffing her cravat.
</p>
<p>
“It’s fine,” said Daniel. “Merlot Bot, you were out of line. You know Fawn’s aversion to alcohol is one of the main reasons, besides her fierce intellect and exquisite taste in clothes, that I retain her as counsel. A clear head. A level temperament. And you’ve openly undermined these intensely cultivated traits.”
</p>
<p class="has-side-note">
Merlot Bot clanked across the floorboards of Daniel Kraken’s study. As he passed in front of the window overlooking Kraken Bay,  Fawn’s moon became a bright, blood red blob bobbing inside  of him. He walked behind Daniel’s desk and the hydraulic pistons in his knees hissed him down into his equivalent of a kneeling position.
</p>
<p class="side-note" style="border-left: 5px solid #66023c">"Refused by a girl still-spotted! The nerve!"--Merlot Bot</p>
<p>
“I’ll be good,” said Merlot Bot.
</p>
<p>
“Good,” said Daniel. “Now Fawn, I know you’ve just come in from a very tense negotiation.”
</p>
<p>
“To say the least,” said Fawn.
</p>
<p>
“But I need you to retrieve something for me, as quickly as possible,” said Daniel. “The journey, I expect, will be arduous,” said Daniel.
</p>
<p>
“The rate?” asked Fawn.
</p>
<p>
“Sumptuous,” said Daniel.
</p>
<p>
“And what am I to retrieve?” asked Fawn.
</p>
<p>
“A weapon from the top of Mt. Oligarch,” said Daniel, handing a sheaf of Hypersea reports to Merlot Bot to file.
</p>
<p>
“There are thousands of weapons on that mountain,” balked Fawn. “It attracts them from all over the world. Even from the depths of the sea.”
</p>
<p>
“But it has only one top. And at its top will be a weapon without peer. An apex predator. And you need to bring it to me. Along with your page over there, you’ll be accompanied by a sherpa/bodyguard who will meet you at the Foundling Wheel tomorrow morning. From there you’ll take an available ship from our fleet to the center of the island.”
</p>
<p>
“A ship,” said Fawn.
</p>
<p>
“It’s the fastest way,” said Daniel. “It’s time to for you to get your sea legs. You are my counsel and you can’t be afraid of the sea like every other semi-literate island roustabout stricken by suspicion, shackled by superstition, gibbering at every ankle-high wave as if it were coming to collect a primordial debt.”
</p>
<p>
“Absolutely,” said Fawn.
</p>
<p>
“And Fawn, please,” said Daniel. “Drop in and see Doe before you go.”
</p>
<p>
“There’s always a chance I’ll run into her,” said Fawn. “Even that early in the morning.”
</p>
<p>
“Set sail, with Hypersea!” shouted Daniel, before finishing the last dram of the blue liquor. He shooed Fawn and <%= @user.characterfirstname %> out of the study.
</p>
</article>
</div>
</main>
</body>
<div class="wrapper">
  <h1 class="square-purple">
    <a2 class="before after gold2">
    <%= link_to "Chapter 3", bolide_rodeo_path(current_user) %>
    </a2>
  </h1>
</div>
</html>
