<% provide(:title, "Chapter 10: Ceasefire at the Ingot Exchange") %>
<% @user= current_user %>
<h1 class="gold2">Chapter 10</h1>
<h1 class="gold2">Ceasefire at the Ingot Exchange</h1>
<div class="top-spacer-chapter-intro"></div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
      <p>
<span class="purple_intro">A</span>s Comet jogged up to Sacrifice’s home,
she saw Pinot Grigio Bot standing against the wall by the back door, a
thick layer of morning condensation collecting on his cool belly.
She watched a drop bisect his chest, revealing a clear line of white wine.
      </p>
      <p>
      “Lemme guess, you’re coming with us,” said Comet.
    </p>
    <p>
      “Oh yeah,” said Pinot Grigio Bot. “Something’s been calling me from the top of Mount Oligarch. Whatever you guys find, I think I need to see it.”
</p>
<p>
      “As long as Fawn’s cool with it,” said Comet.
</p>
<p>
      Fawn was indeed cool with it. Like Merlot Bot, Pinot Grigio Bot was prodigiously strong, and indefatigable, able to walk from dawn to dusk without pause. He was able to carry half of the supplies, which relieved Comet, and also served as a permanent source of sterilized and intoxicating refreshment.
</p>
<p>
      They left right after breakfast, before Tithe woke up. She was very attached to Pinot Grigio Bot, and would be devastated by his departure. He had woven lacquered bamboo poles into a sty for the butterfly boar doll, and had decanted half of himself into several spent cider jugs for Sacrifice. He hugged Sacrifice goodbye and the group headed off towards Mount Oligarch, which loomed lavender in the early dawn, its jagged summit packed around with fog and cloud.
</p>
<p>
      “What month is it?” asked Pinot Grigio Bot, as they made they way across the first field in the Ingot Exchange. The field was barley, which had threshed the last drops of condensation from the white wine automoton as they had moved through the nearest field, towards the main road that split the entire width of the bargaining grounds.
</p>
<p>
       According to PeeGee, as Fawn had started calling him, the main road would
       peter out at the base of Mount Oligarch itself.
</p>
<p>
      “It’s <%= @user.characterseason.mb_chars.split.map(&:capitalize).join(' ') %>,” said PeeGee, “that means a ceasefire.”
</p>
<p>
      The Ingot Exchange was the breadbasket of the entire island, providing all the grains and cereals for every loaf of bread, and every ounce of beer. It was called the Ingot Exchange because each field, seen from the top of Mount Oligarch, looked like a bar of precious metal. The wheat glowed gold, the barley gleamed like copper, and silverwheat shone a natural platinum. Corn was grown sparingly. Also, this was where the vast majority of the island’s metal trading took place. Trade guilds would meet most months out of the year, and fire cannonballs of their representative metals back and forth at each other until each side had the agreed upon amount of precious metals.
</p>
<p>
      Originally, metal trading caravans couldn’t spare the manpower to haul both precious metals and cannonballs across the island. So, it became custom to mold cannonballs out of precious metals. If bandits attacked, they would be torn to bits by glittering grapeshot. Sometimes a silver chain held two cannonballs together in the barrel, and they would boom out like the devil’s own balls, and scythe an entire field of grain and men.
</p>
<p>
      “Meat and wheat,” the sadistic guildmasters would say as they packed a twenty pound grinning copper skull into a gigantic cannon barrel. “If they want our precious metal, they can have it.”
</p>
<p>
      When Daniel Kraken’s business ventures had necessitated a more modern economy and justice system, the guilds, while grateful for the fact that they could conduct their business undisturbed, still found it more efficient to fire their metals from across the fields at each other, rather than drag them all the way across the vast farmland.
</p>
<p>
      They had made it over halfway across the Ingot Exchange before bedding down for the night. Twenty feet off the main road, PeeGee clapped his brass hands together above his head and fell straight to the ground on his back, and rolled around like a compass, flattening the wheat down in a circle for their campsite. He sat down, crossed his legs, cupped his gigantic brass hands, and asked Comet to pour in tinder and start a fire so that he could keep watch over it throughout the night.
</p>
<p>
      “I guess you guys plant rice nearer the sea,” said Fawn, staring into the fire.
</p>
<p>
      “Yes, it’s marshy out there,” said Pinot Grigio Bot. “It’s my favorite thing, planting rice, it’s relaxing. I actually tried replacing my vintage with rice wine, once. Only so that I could be called Sake Bot.”
</p>
<p>
      “Badass,” said Comet.
</p>
<p>
      “So badass,” yawned Fawn.
</p>
<p>
      That night, Fawn woke up to a boom and a second moon.
</p>
<p>
      “Those black market bastards,” said PeeGee. He stood up and dumped the coals at his feet, the sparks popping up in a flurry of thin red feathers. His glowing right hand opened his spigot over the sizzling coals, drowning them in white wine. He held his hands under his spigot, as if he were a gigantic mechanical toddler that had been stung by a jellyfish on a wheat beach.
</p>
<p>
      Comet was nudging <%= @user.characterfirstname %> awake with her toe while strapping on her backpack.
</p>
<p>
      “Can everyone see at night?” asked PeeGee, his question almost drowned out by another cannon shot. He had not inquired about everyone’s moons out of an abundance of politeness.
</p>
<p>
      “Yes,” said Comet, herding Fawn and <%= @user.characterfirstname %> in front of her. She knew that while Fawn had a dim moon, her heritage made her as an inherently crepuscular creature.
</p>
<p>
  "What about you, <%= @user.characterfirstname %>?" asked PeeGee.
</p>
</div>
<% provide(:button_text, 'Save changes') %>
<h1 class="gold2">Choose Your Moon</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form_moontype' %>
  </div>
</div>
<main class="page-content">
    <article class="post">
<p>
      It turns out that Fawn’s second moon had been a silver cannonball, whistling high overhead.
</p>
<p>
      The fire responsibly doused, PeeGee caught up with Comet. He reached out, grabbed <%= @user.characterfirstname %>, and swung the page onto his back, while Comet did the same with Fawn.
</p>
<p>
      “Legitimate guildmasters coordinate the exchange by flags,” said PeeGee. “These motherfuckers are ingot flinging out of season, and doing so blindly.”
</p>
<p>
      “If they’re doing this illegally, why don’t they just make a little extra effort and bring the ingots close to each other, like normal tradespeople?”
</p>
<p class="has-side-note">
  “What’s the fun in that?” asked PeeGee, kicking into a higher gear and rattling out in front of Comet. Not to be outdone, Comet sprinted hard as hell, barely breaking a sweat, which disappointed Fawn, who had been looking forward to licking her neck.
<p class="side-note" style="border-left: 5px solid #66023c">"It’s salt, not assault.”--Ancient deer saying.
</p>
<p>
      They were really hauling now. Comet was so athletic that her armor barely clanked, even though she was really digging into the rutted path. Still, Fawn felt it helpful to focus on her own moon, which hung constant in a night sky filling with smoke.
</p>
<p>
      Suddenly a shape ran out in front of them. It occluded the moon. It occluded Fawn’s personal moon, which never happened. A personal moon shown from every surface that you looked up to at night, even from the corner of prison cells. In ancient times, they would interrogate political prisoners about their personal moons, making them mix pigments until they reached their matched their moon. The captors would paint the cells over with this shade,
      so that even rabid dissidents would feel utterly alone, divorced from their own reality. Once they emerged, from however long a sentence, they become obsessed with seeing their moon, nouveau lunatics running wild in a cruel world, their ideology forgotten. To not be able to see you own moon has since been outlawed as a form of punishment. It’s considered inhumane. But what covered Fawn’s moon turned out to be so much more.
</p>
<p>
      A breathing bank of storm clouds, a bristly eclipse. It was the Butterfly Boar, crossing in front of them. Now, the boar is twelve feet tall at the withers, and Comet is eight feet tall, and Fawn had her arms around Comet’s shoulders. So the boar didn’t seem that big. I mean it was big, don’t get me wrong. But for Fawn, being on Comet's shoulders allowed her to indulge in the luxury of awe, instead of merely being an addict of cheap fear.
</p>
<p>
      She could see the boar’s tusks—smooth and polished pawns. She could see golden grapeshot pulsing in an open wound. The boar had been rousted from chowing down on barley slurry in the gutters that lined the mills on the outskirts of the Ingot Exchange. And the smell! Good gracious. The boar had just become obsessed with crabapples, and his hide was thick with them. There were a couple hundred impaled on a big thatch on his side, where he had rolled around in a sacked orchard three weeks ago. Now they hung there, fermenting, the smelled like PeeGee did when he put out the fire.
</p>
<p>
      The boar moved like lava, or a tidal wave, or a tornado. Too big to be as fast as it was when you got up close. Good lord it was quick, and surprisingly quiet. And stinky. I mean, whew!
</p>
<p>
      And just like that he had crossed the path and was running through the field on the other side, the enormous ridge of his back cutting through the wheat like a black fin through the Hypersea. His chrysalis clinked along behind him at great speed, it seemed as if the chain had been sucked up by the field like steel spaghetti. Inside the chrysalis was a fetal butterfly, glowing green, curled in on itself, its features blunted by its heretofore incomplete gestation.
<p>
      It was gone before PeeGee and Comet could even think to stop. They continued running on until they reached the end of the field, and crashed thirty yards into the forest beyond. They paused to catch their breath, turned around and watched the bandits expel their store of precious metals in a great and glittering cacophony of favorable rates.
</p>
<p>
      The next morning they made it to the bar at the base of Mount Oligarch. Stools squeaked to see a dusty, chaff-bedraggled Fawn white-belly up to the bar and order three shots of Confidante.
</p>
</article>
</div>
</main>
</body>
<div class="wrapper">
  <h1 class="square-purple">
    <a2 class="before after gold2">
    <%= link_to "Chapter 11", salt_peter_online_path(current_user) %>
    </a2>
  </h1>
</div>
</html>
