<% provide(:title, "Prologue") %>
<% @user= current_user %>
<h1 class="gold2">Prologue</h1>
<div class="dramatis">
  Dramatis Personæ
</div>
<!--
<div class="dramatis-contents">
<div class="listfloatleft"
<ul style="list-style-type:none">
  <li class="li2">Fawn Bobapple</li>
  <li class="li2"><%= @user.characterfirstname %> <%= @user.characterlastname %></li>
  <li class="li2">Daniel Kraken</li>
  <li class="li2">Comet Heartbreak</li>
  <li class="li2">Pinot Grigio Bot</li>
  <li class="li2">Merlot Bot</li>
  <li class="li2">Stalwart Huntsman</li>
  <li class="li2">Mitsubishi Galant</li>
  <li class="li2">Terry Blanchard</li>
  <li class="li2">Salt Peter</li>
  <li class="li2">Doe Bobapple</li>
  <li class="li2">Buck Bobapple, Esq.</li>
  <li class="li2">Small Almighty</li>
  <li class="li2">Tad Excessive</li>
  <li class="li2">John Carver</li>
  <li class="li2">Tithe</li>
  <li class="li2">Sacrifice</li>

</ul>
</div>
<div class="listfloatright"
<ul style="list-style-type:none">
  <li class="li2">Our Intrepid Protagonist</li>
  <li class="li2">Fawn's Page, Budding Deuteragonist</li>
  <li class="li2">Father of Our Modern Age</li>
  <li class="li2">Bodyguard and Kind of a Badass</li>
  <li class="li2">Last of the White Wine Automotons</li>
  <li class="li2">Red Wine Automoton, Vengeance Specialist</li>
  <li class="li2">The Name Says It All</li>
  <li class="li2">Huntmaster In Training</li>
  <li class="li2">Bread Baker and Piss Taker</li>
  <li class="li2">Assassin, Nascent Saint</li>
  <li class="li2">Nail Grazer and Hell Raiser</li>
  <li class="li2">Daniel Kraken's Former Attorney, Now Deceased</li>
  <li class="li2">Lightning Bolt in the Employ of Kraken, Inc.</li>
  <li class="li2">Fop and Mountebank</li>
  <li class="li2">Disgruntled Artisan</li>
  <li class="li2">Hardworkin' Mom</li>
  <li class="li2">Joyous Daughter</li>


</ul>
</div>

<div class="ellipsis">
<ul style="list-style-type:none">
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>

  </ul>
</div>
</div>
</div>
-->




<table>
	<thead>
	<tr>
		<th>Fawn Bobapple</th>
		<th style="text-align:center">.......</th>
		<th style="text-align:right">Our Intrepid Protagonist</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><%= @user.characterfirstname %> <%= @user.characterlastname %></td>
		<td style="text-align:center">......</td>
		<td style="text-align:right">Fawn's Page, Budding Deuteragonist</td>
	</tr>
	<tr>
		<td>Daniel Kraken</td>
		<td style="text-align:center">......</td>
		<td style="text-align:right">Father of Our Modern Age</td>
	</tr>
  <tr>
    <td>Comet Heartbreak</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Bodyguard and Kind of a Badass</td>
  </tr>
  <tr>
    <td>Pinot Grigio Bot</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Last of the White Wine Automotons</td>
  </tr>
  <tr>
    <td>Merlot Bot</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Red Wine Automoton, Vengeance Specialist</td>
  </tr>
  <tr>
    <td>Stalwart Huntsman</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">The Name Says It All</td>
  </tr>
  <tr>
    <td>Mitsubishi Galant</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Huntmaster In Training</td>
  </tr>
  <tr>
    <td>Terry Blanchard</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Bread Baker and Piss Taker</td>
  </tr>
  <tr>
    <td>Salt Peter</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Assassin, Nascent Saint</td>
  </tr>
  <tr>
    <td>Doe Bobapple</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Nail Grazer and Hell Raiser</td>
  </tr>
  <tr>
    <td>Buck Bobapple, Esq.</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Daniel Kraken's Former Attorney, Now Deceased</td>
  </tr>
  <tr>
    <td>Small Almighty</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Lightning Bolt in the Employ of Kraken, Inc.</td>
  </tr>
  <tr>
    <td>Tad Excessive</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Fop and Mountebank</td>
  </tr>
  <tr>
    <td>John Carver</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Disgruntled Artisan</td>
  </tr>
  <tr>
    <td>Sacrifice</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Hardworkin' Momma</td>
  </tr>
  <tr>
    <td>Tithe</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Joyous Daughter</td>
  </tr>
	</tbody>
</table>


</main>
</body>
<div class="wrapper">
  <h1 class="square-purple">
    <a2 class="before after gold2">
    <%= link_to "Chapter 1", leviathan_bread_path(current_user) %>
    </a2>
  </h1>
</div>
</html>
