<% provide(:title, "Chapter 15: Fine I’ll Talk About Tiger Farm") %>
<% @user= current_user %>
<h1 class="gold2">Chapter 15</h1>
<h1 class="gold2">Fine I’ll Talk About Tiger Farm</h1>
<div class="top-spacer-chapter-intro"></div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
      <p>
<span class="green_intro">O</span>K so there are fights, and then there is the fight that took place between Comet Heartbreak and Salt Peter. I mean, wow.
      </p>
<p>
Fawn and <%= @user.characterfirstname %> never actually saw the fight--they were too busy fleeing into the forest that bordered the Ingot Exchange. They could hear the trees crashing to the ground behind them.
<%= @user.characterfirstname %> flinched as some flecks of flint nicked an ear. These flecks were the last parts to survive a boulder pulverized by Salt Peter. The old man’s weathered fists slammed granite like he was using his knuckles to type out wartime telegrams on the face of the island itself.
Comet either dodged attacks, or deflected some of them with her sword. Salt Peter’s wizened eyes dilated in surprise for the first time in nearly a century of impassive, brutally efficient assassinations—-Comet Heartbreak was proving to be both unbelievably thicc and hideously quick.
</p>
<p>
“What’s past this forest?” asked Fawn, flitting through the shrub line and easily outpacing her puffing page. “Is there a place we can hide from this guy?”
</p>
<p>
“Up ahead? It’s only Tiger Farm,” replied <%= @user.characterfirstname %>, dealing grimly with danger both ahead and be behind. “It’s where I grew up.”
</p>
<p>
“Oh fuck,” said Fawn. “Does this mean you’re going to drone on and on about it?”
</p>
<p>
“Tigers grow like grudges,” said <%= @user.characterfirstname %>. “And when they bloom it’s them who harvest you.”
</p>
<p>
“Jesus,” said Fawn, who for the first time in her life truly regretted not being bipedal, because if she were, she could make the jacking off motion mid-run.
</p>
<p>
“I was raised in a savage grow-op by parents who disciplined me as harshly as their striped crop,” continued <%= @user.characterfirstname %>, oddly monotone and now not out of breath. “My brothers and sisters and I would spend all day outside among the sunflowers, listening for ripples, learning how to scatter. On my thirteenth summer, now an only child, I graduated to training them.”
</p>
<p>
“Ok surely now you’re embellishing a little. This seems quite extreme, and when you came under my tutelage you were fully literate and had a ring of baby fat that would peek out from under your jerkin when you would stretch and yawn.”
</p>
<p>
“Stretch and yawn…LIKE A TIGER!” shouted <%= @user.characterfirstname %>, flying past Fawn with an unbelievable burst of speed.
</p>
<p>
“But I met your parents!” insisted Fawn. “They gave me a gift wrapped box of chocolate covered pretzels and asked if a sweater would keep you warm enough during Endure.”
</p>
<p>
But by then they had reached the outskirts of Tiger Farm, the sunflower stalks grew right up to the edge of the forest so that you would need to be on Comet’s shoulders to see out across the field.
</p>
<p>
“Quiet!” insisted <%= @user.characterfirstname %>. “They love deer.” <%= @user.characterfirstname %> drew her sword and beckoned Fawn to follow close behind. <%= @user.characterfirstname %> slipped through the first row of sunflowers and Fawn lost sight of her page for just a second.
</p>
<p>
“Whoa,” <%= @user.characterfirstname %> exclaimed. The young page was able to to look across the whole of Tiger Farm for the first time. The Butterfly Boar had rooted out a huge swath from end to end—<%= @user.characterfirstname %> nudged open a trampled Tiger’s paw with the tentative toe of a boot, and saw a hank of thick bristles fall from its claws.
</p>
<p>
Meanwhile, Comet had decided that it was time to win. She reached up behind Salt Peter and grabbed his pure white queue of hair, pulling him hard to the ground to that his skull slammed into the stone. She stomped the left half of his ribs to shards, then jogged off to rejoin Fawn.
</p>
<p>
Salt Peter’s last act on the island was to uncork a flask of Confidante and let Daniel know that he had only been partially successful in his mission.
</p>
</article>
</div>
</main>
</body>
<div class="wrapper">
  <h1 class="square-green">
    <a2 class="before after gold2">
    <%= link_to "Chapter 16", taste_of_betrayal_path(current_user) %>
    </a2>
  </h1>
</div>
</html>
