<% provide(:title, "Chapter 8: A Wild White Wine Automaton Appears") %>
<% @user= current_user %>
<h1 class="gold2">Chapter 8</h1>
<h1 class="gold2">A Wild White Wine Automaton Appears</h1>
<div class="top-spacer-chapter-intro"></div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
      <p>
<span class="purple_intro">A</span>fter they had landed on the beach, Comet had passed around a simple meal of hardtack wrapped in wax paper, strips of dried and salted cod, and a delicately filigreed brass canteen filled with Gatorade Frost. Fawn and <%= @user.characterfirstname %> took a brief nap against a sunwarmed dune, while Comet, still in full battle armor, turned cartwheels in the darker, softer sand that meets the sea. She had been cooped up on the ship long enough.
      </p>
  <p>
Thus refreshed, Fawn’s party turned towards Mount Oligarch and begin to walk. Fawn thought of her mom, reduced to pulling copper nails with her teeth from the buildings that surrounded Kraken HQ so that the nails could be saved before the buildings were demolished and the panels melted down. Before Daniel Kraken had incorporated, the city had been awash with copper gondolas, which shone so bright in the summer that visitors were handed lengths of hemp twine at the base of the last big hill before the city proper, so that they could rest in the shade and approach the city with their eyes closed, pulling themselves hand over hand towards the city’s gates. Daniel Kraken hated it.
</p>
  <p>
“First of all, anything that is copper should be brass,” ranted Daniel at Fawn, on a warm night when he had had a couple drinks after a particularly brutal scrutinizing session of a contract drawn up for futures in the Ingot Exchange. “And everything brass should be beaten into something useful.  Grandfather clocks, the speedometer of a Heaven Dredger, the nametags of a St. Bernard. To lie in great sheets on the top buildings is to miss out on a million intricate and profitably manufactured contraptions.”
</p>
  <p>
Fawn nodded.
</p>
  <p>
“And to advertise your planet’s wealth so obscenely!” continued Daniel. “You’re just asking to be mugged by any jumped-up hyper-tyrant chugging through your solar system.”
</p>
  <p>
“He must be unthinkably blitzed,” thought Fawn. "He’s barely making sense." But Daniel Kraken had dutifully bought up every copper topped building in the city and was seeing it picked apart by his army of nail grazers--recovering alcoholic deer who tried to kick liquor by pulling out nails with their teeth and four hooves, where their split hooves acted like the claw in claw hammers. A skilled nail grazer could use all of their hooves and their mouth in one fluid motion, yanking out nails and flicking and spitting them into the seven brass buckets evenly spaced around the top of the gondola.
</p>
  <p>
To the passing observer, they looked almost like deer in a meadow, but the formerly delicate necks of these deer where now thick with muscle, and instead of a meadow they looked to be perched atop a blindingly bright copper titty.
</p>
  <p>
Unlike most of the population on the island, deer detested their alcoholism—they longed for a time when morning dew was the most intoxicating thing that wet their whistles. They nail grazed as a way to keep from descending into abject poverty, and the deer found that looking down at their reflections all day shamed them from their daily drinks. Well most deer anyway. Doe Bobapple had once been a legendary lawyer, but after Buck’s death, she found that nail grazing was the only work she could do hungover, and that it paid her just enough to break even after a night of buying just enough Kraken Lite to get blackout drunk.
</p>
  <p>
Fawn's party walked for miles until they reached a small farming village on the outskirts of the first fields at the Ingot Exchange.
</p>
  <p>
“We can stop here,” said Comet, lifting the pack from a visibly exhausted, but uncomplaining, Fawn. “I’ll see if a family can rent us an outbuilding for the night.”
</p>
  <p>
Fawn and <%= @user.characterfirstname %> sat panting against the side of the barn. Something glinting in the fields had caught Fawn’s eye.
</p>
  <p>
“Is that…Merlot Bot?” asked Fawn, unsure of herself. Though a naturally slim and fit deer, she did have a desk job, and a long day of strenuous activity may have caused her brain to overheat.
</p>
  <p>
“Looks like it,” said <%= @user.characterfirstname %>.
</p>
  <p>
Down in the fields was indeed a large automaton, only instead of red, a golden type of wine was sloshing back and forth as the robot swayed, stooping over, planting rice. He was brass-knee deep in black water, and the pristine, sunlit wine inside him sometimes matched the ripples he kicked up while moving down the rows of rice. Fawn and <%= @user.characterfirstname %> watched the automaton in silence. Depending upon how he bobbed, his alcohol filled glass abdomen sometimes broke the shafts of the setting sun into flocks of intoxicated rainbows that flitted against the whitewashed mortar of the straw topped outbuilding.
</p>
  <p>
“We’re in luck,” said Comet, walking up to join them. “This is Sacrifice, and this is her place.” Comet motioned to a compact, deeply tan and work-wizened woman smiling beside her. “She said we can bunk down here for the night.”
</p>
  <p>
“Thank you very much,” said Fawn. “Comet, is that Merlot Bot all the way out there?” Fawn asked, pointing out towards the automaton.
</p>
  <p>
“Oh him,” said Sacrifice matter-of-factly. “That’s PeeGee. We’ll all meet at dinner. PeeGee!” she shouted out at the robot, who stood up tall and waved. His LEDs were glowing gold, but were unreadable at this distance. “Come on up here for dinner.”
</p>
  <p>
That evening after the meal they all sat around the dinner table and talked. Fawn had nestled a wash cloth between her hooves and was standing near the sink, helping with the dishes, which mortified Sacrifice, as she had been paid a king’s ransom in golden Krakens for a single night’s lodging. Comet Heartbreak and <%= @user.characterfirstname %> <%= @user.characterlastname %> were looking at a map and going over the ascent of Mount Oligarch. Comet had drained half of Pinot Grigio Bot’s daily offering over dinner, but was only just a little giggly. Sacrifice’s small daughter, Tithe, and Pinot Grigio Bot were playing with a stuffed toy of the Butterfly Boar.
</p>
  <p>
These toys were a hit all over the island--black canvas rudely stuffed with straw, glued all over with singed reeds that stuck out like the boar’s black bristles. Its bristles scratched kids’ skins and the boar couldn’t be slept with. It smelled like a campfire in the middle of the swamp. Two lengths of rough twine were woven into its shoulders—the other ends were strung through holes in a mid-sized conch shell, painted bright green. Tithe was dragging the boar towards Pinot Grigio Bot, and the shell clattered loudly, unbalanced, across the entire length of the table.
</p>
  <p>
“Jesus Christ,” muttered Sacrifice to Fawn, “that toy is unbelievably annoying.”
</p>
  <p>
“I am Daniel Kraken!” boomed Pinot Grigio Bot. His LEDs pulsed fiercely, further brightening the candlelit room:
</p>
<p>
  <div class="top-spacer-chapter-intro">
  </div>
<span class="bot_led">MONEY</span>
<div class="top-spacer-chapter-intro">
</div>
</p>
<p>
“There’s no way this boar will trample unfettered across my empire!” roared Pinot Grigio Bot.
</p>
<p>
“Keep it down PeeGee it’s after sunset,” said Sacrifice, while Tithe giggled and aimed the boar toy at the automaton’s spout.
</p>
<p>
“I will fill every river with liquor!” said Pinot Grigio Bot, slightly softer, but still very loud. He stood up and reached down to open his spout, the last of this day’s vintage spattering down on the tabletop. “You’ll have nothing to drink but what I provide! And when you pass out drunk I will stab you! Stab you!”
</p>
<p>
Tithe dragged the boar towards the puddle of wine on the table and pushed its head in, making snorting sounds, pretending to drink. “Urrgh my head hurts,” said Tithe, pushing the boar around in tightening circles in the center of the table, eventually tipping it over on its side, pretending that the boar had passed out. Pinot Grigio Bot held a butter knife handle first towards Tithe, and took one up himself in his second hand. The shouted together and fell upon the boar, stabbing it repeatedly.
</p>
<p>
“Goddamnit guys! Now that thing smells like hot wine, along with everything else!” said Sacrifice, setting down the last dish.
</p>
<p>
“I’ll clean it up I swear!” said Pinot Grigio Bot. “I just hate wasting it!”
</p>
<p>
“Pouring it out over the table isn’t wasting it?” asked Fawn.
</p>
<p>
“Even imagination isn’t wasting it compared to what he normally does,” said Sacrifice. “Every night he has to pour most of his vintage into the compost heap. This is the first night in a while someone’s had a taste for white wine,” she said, pointing towards Comet, who was flicking the ends off the boar’s broken bristles with the tip of her razor sharp sword.
</p>
<p>
“All right everyone,” said Fawn. “Time to turn in.”
</p>
<p>
That morning Comet woke with the first white wine hangover that had ever been experienced on the island. She had endured a week long voyage at sea, a day long hike, and had collapsed into a hot haystack after drinking fifteen gallons of white wine. It definitely shaved a couple seconds from her pre-dawn 10 mile run.
</p>
</article>
</div>
</main>
</body>
<div class="wrapper">
  <h1 class="square-purple">
    <a2 class="before after gold2">
    <%= link_to "Chapter 9", grim_persistence_path(current_user) %>
    </a2>
  </h1>
</div>
</html>
